doctype html
html 
    head
        title Post 
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        div.post-container 
            div.post 
                .name 
                    h3 Donar : #{donar.userid.name} 
                .age 
                    h3 Age : #{donar.userid.age}
                .bloodGroup 
                    h3 Blood Group : #{donar.bloodGroup}
                .contact 
                    p Contact No : #{donar.contactNo} 
                .city 
                    p Place : #{donar.city}
                form(action="/donate"+donar._id, method="delete")
                    button(type="submit")  Delete Post